* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Mukta";
  font-size: 400 !important;
  color: var(--black-500);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--font);
  font-weight: 500;
}
h1,
.hfs1 {
  font-size: clamp(32px, calc(2rem + ((1vw - 3.2px) * 0.375)), 38px);
  min-height: 0vw;
  line-height: 38px;
  font-weight: 700;
}
h2,
.hfs2 {
  font-size: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 0.5)), 32px);
  min-height: 0vw;
  line-height: 24px;
  font-weight: 700;
}
h3,
.hfs3 {
  font-size: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 0.25)), 24px);
  min-height: 0vw;
  line-height: 1.2;
}
h4,
.hfs4 {
  font-size: clamp(18px, calc(1.125rem + ((1vw - 3.2px) * 0.125)), 20px);
  min-height: 0vw;
  line-height: 1.2;
}
h5,
.hfs5 {
  font-size: clamp(
    16px,
    calc(16px + (18 - 16) * ((100vw - 768px) / (1920 - 768))),
    18px
  );
  min-height: 0vw;
  line-height: inherit;
}
h6,
.hfs6 {
  font-size: clamp(
    14px,
    calc(14px + (16 - 14) * ((100vw - 768px) / (1920 - 768))),
    16px
  );
  min-height: 0vw;
  line-height: inherit;
}
.hfs7 {
  font-size: clamp(12px, calc(0.75rem + ((1vw - 3.2px) * 0.125)), 14px);
  min-height: 0vw;
  line-height: inherit;
}
p {
  font-size: clamp(
    16px,
    calc(16px + (18 - 16) * ((100vw - 768px) / (1920 - 768))),
    18px
  );
  min-height: 0vw;
  line-height: inherit;
}
.fs-22 {
  font-size: clamp(18px, calc(1.125rem + ((1vw - 3.2px) * 0.25)), 22px);
  min-height: 0vw;
}
.fs-12 {
  font-size: 12px;
}
.fs-10 {
  font-size: 10px;
}

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.btn {
  padding: 12px 38px;
  font-weight: 600;
  font-size: 18px;
  &-primary {
    border-radius: 72px;
    background: var(--primary-700);
    box-shadow: 0px 4px 23px 0px rgba(36, 98, 191, 0.24);
    text-transform: uppercase;
    &:hover,
    &:active {
      border: 1px solid var(--primary-700);
      background: var(--primary-50);
      box-shadow: 0px 4px 23px 0px rgba(36, 98, 191, 0.24);
      color: var(--primary-700);
    }
  }
}

// img {
//   max-width: 100%;
//   height: auto;
// }
.w-50 {
  width: 70%;
  @media screen and (max-width: 992px) {
    width: 100% !important;
  }
}
.object-fit-cover {
  object-fit: cover;
}

// margin and padding
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.heading {
  margin-bottom: 32px;
  h2 {
    line-height: 38px;
  }
}
// tabs and tables
.tabs-table-section {
  .nav-pills {
    .nav-link {
      font-size: clamp(
        16px,
        calc(16px + (18 - 16) * ((100vw - 768px) / (1920 - 768))),
        18px
      );
      font-weight: 500;
      line-height: normal;
      color: var(--black-600);
      border-radius: 24px;
      background: var(--black-100);
      position: relative;
      &.active {
        background: var(--primary-gradient);
        color: var(--white);
        &::after {
          content: "";
          position: absolute;
          // border-bottom: solid 10px transparent;
          // border-top: solid 10px var(--primary-gradient);
          // border-left: solid 10px transparent;
          // border-right: solid 10px transparent;
          background: url(/asset/icons/arrow-down.svg) no-repeat;
          width: 19px;
          height: 10px;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .table-main {
    .table > :not(caption) > * > * {
      border-bottom-width: unset !important;
      box-shadow: unset !important;
    }
    tr {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--black-300) !important;
      border-bottom-width: 0px;
      justify-content: space-between;
      margin-bottom: 18px;
      padding: 16px 18px;
      .details {
        width: 600px;
        .time {
          width: 100px;
        }
      }
      &:hover {
        border-bottom: 1px solid var(--gray-200);
        background: var(--primary-50);
        border-left: 6px solid var(--primary-700);
      }
    }
    tr:last-child {
      margin-bottom: 32px;
    }
    .type {
      border-radius: 28px;
      &:hover {
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
      }
    }
  }
}
// pagination
.pagination {
  gap: 6px;
  .page-link {
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--black-800);
    line-height: 19px;
    padding: 10px 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    &:hover {
      border-radius: 24px;
      background-color: var(--primary-600);
      color: var(--neutral-white);
    }
  }
  .arrow {
    fill: var(--black-800);
    &:hover, &:active {
      fill: var(--black-300);
      background: none;
    }
  }
}
