header {
    position: sticky;
    top: 0;
    z-index: 99;
}
header .top__header {
    padding: 12px 0;
    background: var(--white);
}
@media screen and (max-width: 768px) {
    header .top__header .logo {
        width: auto;
    }
}
header .top__header__right {
    gap: 32px;
}
@media screen and (max-width: 768px) {
    header .top__header__right {
        gap: 8px;
    }
}
header .top__header .form-switch .form-check-input {
    height: 20px;
    width: 38px;
}
@media screen and (max-width: 1200px) {
    header .top__header .form-switch .form-check-input {
        height: 16px;
    }
}
header .top__header .form-check-input:checked {
    background-color: var(--primary-800);
    border-color: var(--primary-800);
}
header nav .navbar-nav {
    gap: 34px;
}
@media screen and (max-width: 1600px) {
    header nav .navbar-nav {
        gap: 30px;
    }
}
@media screen and (max-width: 1420px) {
    header nav .navbar-nav {
        gap: 10px;
    }
}

@media screen and (max-width: 1200px) {
    header nav .navbar-nav {
        gap: 6px;
    }
}
header nav .navbar-nav .nav-item a {
    font-weight: 600;
    font-size: clamp(16px, 16px + 2 * (100vw - 768px) / 1152, 18px);
    line-height: 32px;
    color: var(--black-200);
    padding: 12px 18px;
}
header nav .navbar-nav .nav-item a:hover,
header nav .navbar-nav .nav-item a.active {
    background: var(--primary-200);
    color: var(--primary-800);
}
header nav .navbar-toggler {
    margin-left: auto;
    box-shadow: unset !important;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px 18px;
}
@media screen and (max-width: 1200px) {
    header .navbar-expand-lg .navbar-nav .nav-link {
        padding: 12px 14px;
    }
}
header .nav-notice h5 {
    padding: 9px 20px;
    background-color: var(--red);
}

.motion-text {
    overflow: hidden;
}
.motion-text .title {
    padding: 8px 20px;
}
.motion-text marquee {
    width: 90%;
}
.motion-text marquee h6 {
    padding: 10px 0;
    color: #2d3748;
    line-height: 32px;
}

.banner__slider h2 {
    line-height: 38px;
}
.banner__slider .slick-dots {
    bottom: 28px;
}
.banner__slider .slick-dots li {
    margin: 0 3px !important;
}
.banner__slider .slick-dots li button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 9px;
    width: 9px;
    border-radius: 43.2px;
    border: 0.643px solid var(--primary-600);
    background: var(--primary-200);
}
.banner__slider .slick-dots li button::before {
    display: none;
}
.banner__slider .slick-dots li.slick-active {
    margin: 0 15px !important;
}
.banner__slider .slick-dots li.slick-active button {
    height: 9px;
    width: 42px;
    transition: width 0.2s linear;
    background: var(--primary-600);
    border: none;
}
.banner__slider .slick-dots .item {
    border-radius: 43.2px;
    overflow: hidden;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

footer {
    z-index: 1;
    padding: 45px 0;
}
footer .mb-4 {
    margin-bottom: 4px !important;
}
footer .links h4 {
    line-height: 26px !important;
}
footer .links h5,
a {
    line-height: 42px !important;
}
footer ul li a {
    line-height: 42px;
    color: var(--primary-100);
}
footer ul li a:hover {
    color: var(--primary-600);
}
footer .pattern {
    z-index: -1;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
}
footer .card {
    border: 0.5px solid var(--primary-600);
    border-radius: 24px;
}
footer hr {
    border: 1px solid var(--black-300);
    height: 1px;
    margin: 0;
}
footer .footer__bottom .time {
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 4px 18px;
    border: 1px solid var(--primary-600);
}
footer .footer__bottom-right {
    gap: 300px;
}
@media screen and (max-width: 1200px) {
    footer .footer__bottom-right {
        justify-content: space-between;
    }
}
footer .footer__bottom-right #myBtn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
@media screen and (max-width: 520px) {
    footer .footer__bottom-right #myBtn {
        display: none !important;
    }
}

.mission {
    padding: 46px 0 62px 0;
    background: var(--black-50);
}
.mission__row {
    gap: 94px;
}
@media screen and (max-width: 1024px) {
    .mission__row {
        gap: 32px;
    }
}
.mission .card {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 1px 112px 0px rgba(0, 0, 0, 0.08);
    padding: 18px 52px;
    border: none;
}
.mission .card img {
    border-radius: 50%;
}
.mission .card:hover {
    border: 1px solid var(--primary-600);
    background: var(--primary-50);
}
.mission .mb-14 {
    margin-bottom: 14px;
}
.mission h4,
h5,
a {
    line-height: 24px !important;
}
.mission .w-50 {
    width: 50%;
}
@media screen and (max-width: 1200px) {
    .mission .w-50 {
        width: 100% !important;
    }
}

.about .about-main {
    gap: 90px;
}
@media screen and (max-width: 1200px) {
    .about .about-main {
        gap: 48px;
    }
}
.about .about-main .main {
    border-radius: 20px;
    background: #d9d9d9;
    background-image: url(../asset/images/about-1.png);
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 434px;
    width: 100%;
}
@media screen and (max-width: 425px) {
    .about .about-main .main {
        height: 200px;
    }
}
.about .about-main .logo {
    border-radius: 14px;
    background: var(--primary-700);
    padding: 50px 15px;
}
@media screen and (max-width: 425px) {
    .about .about-main .logo {
        height: 200px;
    }
}
.about .about-main .main-two {
    display: flex;
    justify-content: end;
    margin-top: -200px;
}
@media screen and (max-width: 425px) {
    .about .about-main .main-two {
        margin-top: 16px;
    }
}
.about .about-main .main-two .image {
    border-radius: 14px;
    background: #d9d9d9;
    background-image: url(../asset/images/about-2.png);
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 296px;
    width: 370px;
}
@media screen and (max-width: 425px) {
    .about .about-main .main-two .image {
        width: 100%;
    }
}
.about .about-main .elipse {
    position: absolute;
    left: -160px;
    bottom: 0;
    z-index: -1;
}
@media screen and (max-width: 992px) {
    .about .about-main {
        flex-direction: column;
    }
}
.about .about-main:nth-child(even) {
    flex-direction: row-reverse;
}
@media screen and (max-width: 992px) {
    .about .about-main:nth-child(even) {
        flex-direction: column;
    }
}

.news {
    padding: 30px 0 90px 0;
}
.news__card {
    border-radius: 22px;
    border: 1px solid var(--black-200);
    background: var(--black-50);
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
}
.news__card .main-img {
    border-radius: 16px;
}
.news__card:hover {
    border: 1px solid var(--primary-200);
    background: var(--primary-50);
}
.news .news__slider .slick-dots li {
    margin: 0 3px !important;
}
.news .news__slider .slick-dots li button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 9px;
    width: 9px;
    border-radius: 43.2px;
    border: 0.643px solid var(--primary-700);
    background: var(--primary-200);
}
.news .news__slider .slick-dots li button::before {
    display: none;
}
.news .news__slider .slick-dots li.slick-active {
    margin: 0 15px !important;
}
.news .news__slider .slick-dots li.slick-active button {
    height: 9px;
    width: 42px;
    transition: width 0.2s linear;
    background: var(--primary-700);
    border: none;
}
.news .news__slider .slick-dots .item {
    border-radius: 43.2px;
    overflow: hidden;
    margin: 0 10px;
}

.contact__card {
    border-radius: 12px;
    border: 1px solid var(--black-100);
    background: var(--black-50);
    padding: 12px 18px;
    margin-bottom: 12px;
}
.contact__card:last-child {
    margin-bottom: 0px;
}
.contact__card .w-70 {
    width: 70%;
}
@media screen and (max-width: 576px) {
    .contact__card .w-70 {
        width: 100%;
    }
}
.contact__card .w-30 {
    width: 30%;
}
@media screen and (max-width: 576px) {
    .contact__card .w-30 {
        width: 100%;
    }
}
.contact__card-two {
    border-radius: 24px;
    background: var(--white);
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.08);
    padding: 50px;
}
@media screen and (max-width: 620px) {
    .contact__card-two {
        padding: 26px;
    }
}
.contact__card-two h4 {
    border-radius: 12px;
    border: 1px solid #f7ecdd;
    background: #fdf6ec;
    padding: 12px 18px;
}
.contact__card-two form input,
.contact__card-two form textarea {
    border-radius: 14px;
    background: var(--black-100) !important;
    padding: 20px 26px;
    border: none;
}
.contact__card-two form input ::-moz-placeholder,
.contact__card-two form textarea ::-moz-placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--black-700);
}
.contact__card-two form input ::placeholder,
.contact__card-two form textarea ::placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: var(--black-700);
}
.contact__card-two .attach-icon {
    position: absolute;
    right: 0;
    margin-right: 10px;
}
/* news detail */
.news-detail .main-img {
    border-radius: 14px;
}
/* modal */
.modal-more-info .modal-content {
    border-radius: 8px;
}
.cursor-pointer {
    cursor: pointer;
}
/* gallery */
.gallery .main {
    margin-top: 40px;
}
/* report information */
.report-information .card {
    border-radius: 24px;
    background: var(--white);
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.08);
    border: none;
}

.report-information h3 {
    line-height: 38px;
}

.accordion-button {
    border-radius: 8px;
    border: 1px solid var(--gray-50);
    background: #fff;
    box-shadow: 0px 1px 112px 0px rgba(0, 0, 0, 0.08);
    padding: 18px;
}
.accordion-button:not(.collapsed) {
    border-radius: 8px 8px 0px 0px;
    border-top: 3px solid var(--gray-50);
    border-left: 3px solid var(--gray-50);
    border-right: 3px solid var(--gray-50);
    background: var(--gray-25);
    box-shadow: none;
    padding: 18px 18px 0 18px;
}
.accordion-body:not(.collapsed) {
    border-radius: 0px 0px 8px 8px;
    border-bottom: 3px solid var(--gray-50);
    border-left: 3px solid var(--gray-50);
    border-right: 3px solid var(--gray-50);
    background: var(--gray-25);
    padding: 0 18px 18px;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-item {
    margin-bottom: 18px;
    border: none;
}
.accordion-item:last-child {
    margin-bottom: 0px;
}
.accordion {
    max-height: 500px; /* Adjust this value as needed */
    overflow-y: auto;
}
.accordion-button:focus {
}
/* login */
.login {
    height: 100vh;
    background: linear-gradient(90deg, #012c6d 50%, #fafafa 50%);
    position: relative;
    background-size: cover;
    @media screen and (max-width: 1200px) {
        background: #fff;
    }
}
.login .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-origin: 16px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgba(145, 158, 171, 0.2),
        0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}
.login .card-one {
    padding: 78px 80px;
}
.login .card-two {
    padding: 78px 80px;
}
@media screen and (max-width: 1600px) {
    .login .card-one {
        padding: 60px;
    }
    .login .card-two {
        padding: 60px;
    }
}
@media screen and (max-width: 1400px) {
    .login .card-one {
        padding: 50x 30px;
    }
    .login .card-two {
        padding: 50px 30px;
    }
}
.login .card .logo {
    margin-bottom: 42px;
    @media screen and (max-width: 1200px) {
        margin-bottom: 20px;
    }
}

.login .card .mb-48 {
    margin-bottom: 48px;
    @media screen and (max-width: 1200px) {
        margin-bottom: 20px;
    }
}
.login .card .mb-52 {
    margin-bottom: 52px;
    @media screen and (max-width: 1200px) {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .card-one {
        padding: 20px !important;
    }
    .card-two {
        padding: 20px !important;
    }
    .logo {
        width: 100%;
        height: 220px;
    }
}
@media screen and (max-width: 900px) {
    .logo {
        width: 100%;
        height: 120px;
    }
}
.login .card .mb-12 {
    margin-bottom: 12px;
}
.login .card h6 {
    line-height: 24px;
}
.login .card .nav-pills .nav-link {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 1px 112px 0px rgba(0, 0, 0, 0.08);
    padding: 12px 24px;
    @media screen and (max-width: 575px) {
        padding: 12px;
    }
}
.login .card .nav-pills .nav-link.active {
    border: 1px solid var(--primary-200);
    background: var(--primary-50);
}
.login .card .btn-login {
    margin-top: 52px;
    @media screen and (max-width: 1200px) {
        margin-top: 24px;
    }
}
.login .card form input {
    border-radius: 8px;
    border: 1px solid var(--gray-500);
    padding: 16px;
}
.login .card form label {
    color: var(--main);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.login .card form .eye {
    position: absolute;
    right: 0;
    margin-right: 10px;
}
@media screen and (max-width: 575px) {
    .trainer-img {
        height: 80px;
        width: 80px;
    }
    .trainee-img {
        height: 80px;
        width: 80px;
    }
}

/* modal  */
.notice-modal,
.more-link-modal .modal-btn {
    position: absolute;
    bottom: -50px;
    left: 42%;
    background: none;
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 1.75;
}

.more-link-modal .modal-btn__close {
    width: -moz-fit-content;
    width: fit-content;
    padding: 12px 16px;
    border-radius: 50px;
    background: #fed7d7;
    color: var(--secondary);
}

.more-link-modal .modal-header {
    background: var(--black-100);
    border: none;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.more-link-modal .modal-content {
    border: none;
    border-radius: 14px;
}

.more-link-modal .modal-body {
    border: none;
    border-radius: unset;
    padding: 40px;
}
.more-link-modal .modal-body ul li {
    margin-bottom: 16px;
    list-style-type: disc;
    margin-left: 10px;
}
.more-link-modal .modal-body ul li::marker {
    color: var(--black-500);
}
.more-link-modal .modal-body ul li:not(:last-child) {
    margin-bottom: 16px;
}

.notice-slider .slick-dots {
    bottom: -28px;
}
.notice-slider .slick-dots li {
    margin: 0 3px !important;
}
.notice-slider .slick-dots li button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 9px;
    width: 9px;
    border-radius: 43.2px;
    border: 0.643px solid var(--primary-600);
    background: var(--primary-200);
}
.notice-slider .slick-dots li button::before {
    display: none;
}
.notice-slider .slick-dots li.slick-active {
    margin: 0 15px !important;
}
.notice-slider .slick-dots li.slick-active button {
    height: 9px;
    width: 42px;
    transition: width 0.2s linear;
    background: var(--primary-600);
    border: none;
}
.notice-slider .slick-dots .item {
    border-radius: 43.2px;
    overflow: hidden;
}

.notice-slider .slick-dotted.slick-slider {
    margin-bottom: 0px;
}
