header {
  position: sticky;
  top: 0;
  z-index: 1;
  .top__header {
    padding: 12px 0;
    background: var(--white);
    .logo {
      @media screen and (max-width: 768px) {
        width: auto;
      }
    }
    &__right {
      gap: 32px;
      @media screen and (max-width: 768px) {
        gap: 8px;
      }
    }
    .form-switch {
      .form-check-input {
        height: 20px;
        width: 38px;
        @media screen and (max-width: 1200px) {
          height: 16px;
        }
      }
    }
    .form-check-input:checked {
      background-color: var(--primary-800);
      border-color: var(--primary-800);
    }
  }
  nav {
    .navbar-nav {
      gap: 42px;
      @media screen and (max-width: 1024px) {
        gap: 0px;
      }
      .nav-item {
        a {
          font-weight: 600;
          font-size: clamp(
            16px,
            calc(16px + (18 - 16) * ((100vw - 768px) / (1920 - 768))),
            18px
          );
          line-height: 32px;
          color: var(--black-200);
          padding: 12px 18px;
          &:hover,
          &.active {
            background-color: var(--primary-100);
            color: var(--primary-800);
          }
        }
      }
    }
    .navbar-toggler {
      margin-left: auto;
      box-shadow: unset !important;
    }
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px 18px;
  }
  .nav-notice {
    h5 {
      padding: 10px 24px;
      background-color: var(--red);
    }
  }
}

.motion-text {
  overflow: hidden;
  background: #fff;
  .title {
    padding: 10px 24px;
  }
  marquee {
    width: 90%;
    h6 {
      padding: 10px 0;
      color: #2d3748;
      line-height: 32px;
    }
  }
}

.banner__slider {
  h2 {
    line-height: 38px;
  }

  .slick-dots {
    bottom: 28px;
    li {
      margin: 0 3px !important;
      button {
        &::before {
          display: none;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        height: 9px;
        width: 9px;
        // border-radius: 50%;
        // background-color: var(--primary-700);
        // opacity: 1;
        border-radius: 43.2px;
        border: 0.643px solid var(--primary-600);
        background: var(--primary-200);
      }
      &.slick-active {
        margin: 0 15px !important;
        button {
          height: 9px;
          width: 42px;
          transition: width 0.2s linear;
          background: var(--primary-600);
          border: none;
        }
      }
    }
  }

  .slick-dots .item {
    border-radius: 43.2px;
    overflow: hidden;
    // margin: 0 10px;
  }
}
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
footer {
  z-index: 1;
  padding: 45px 0;

  h4 {
    line-height: 25px;
  }

  ul {
    li {
      a {
        line-height: 42px;
        color: var(--primary-100);
        &:hover {
          color: var(--primary-600);
        }
      }
    }
  }
  .pattern {
    z-index: -1;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
  }
  .card {
    border: 0.5px solid var(--primary-600);
    border-radius: 24px;
  }

  hr {
    border: 1px solid var(--black-300);
    height: 1px;
    margin: 0;
  }
  .footer__bottom {
    .time {
      text-align: center;
      display: flex;
      align-items: center;
      border-radius: 28px;
      padding: 4px 18px;
      border: 1px solid var(--primary-600);
    }
    &-right {
      gap: 300px;
      @media screen and (max-width: 1200px) {
        justify-content: space-between;
      }
      #myBtn {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        @media screen and (max-width: 520px) {
          display: none !important;
        }
      }
    }
  }
}
// mission section
.mission {
  padding: 46px 0 62px 0;
  background: var(--black-50);
  &__row {
    gap: 94px;
    @media screen and (max-width: 1024px) {
      gap: 32px;
    }
  }
  .card {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 1px 112px 0px rgba(0, 0, 0, 0.08);
    padding: 18px 52px;
    border: none;
    img {
      border-radius: 50%;
    }
    &:hover {
      border: 1px solid var(--primary-600);
      background: var(--primary-50);
    }
  }
  .mb-14 {
    margin-bottom: 14px;
  }
  .w-50 {
    width: 50%;
    @media screen and (max-width: 1200px) {
      width: 100% !important;
    }
  }
}
// about page
.about {
  .about-main {
    gap: 90px;
    @media screen and (max-width: 1200px) {
      gap: 48px;
    }
    .main {
      border-radius: 20px;
      @media screen and (max-width: 425px) {
        height: 200px;
      }
    }
    .logo {
      border-radius: 14px;
      background: var(--primary-700);
      padding: 50px 15px;
      @media screen and (max-width: 425px) {
        height: 200px;
      }
    }
    .main-two {
      display: flex;
      justify-content: end;
      margin-top: -200px;
      @media screen and (max-width: 425px) {
        margin-top: 16px;
      }
      img {
        border-radius: 14px;
        @media screen and (max-width: 425px) {
          width: 100%;
        }
      }
    }
    .elipse {
      position: absolute;
      left: -160px;
      bottom: 0;
      z-index: -1;
    }
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }
  }
}

// notice section
.notice {
}
// news section
.news {
  padding: 30px 0 90px 0;
  &__card {
    border-radius: 22px;
    border: 1px solid var(--black-200);
    background: var(--black-50);
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 30px;
    .main-img {
      border-radius: 16px;
    }
    &:hover {
      border: 1px solid var(--primary-200);
      background: var(--primary-50);
    }
  }
  .news__slider {
    .slick-dots {
      li {
        margin: 0 3px !important;
        button {
          &::before {
            display: none;
          }
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: "";
          height: 9px;
          width: 9px;
          // border-radius: 50%;
          // background-color: var(--primary-700);
          // opacity: 1;
          border-radius: 43.2px;
          border: 0.643px solid var(--primary-700);
          background: var(--primary-200);
        }
        &.slick-active {
          margin: 0 15px !important;
          button {
            height: 9px;
            width: 42px;
            transition: width 0.2s linear;
            background: var(--primary-700);
            border: none;
          }
        }
      }
    }

    .slick-dots .item {
      border-radius: 43.2px;
      overflow: hidden;
      margin: 0 10px;
    }
  }
}
// contact section
.contact {
  &__card {
    border-radius: 12px;
    border: 1px solid var(--black-100);
    background: var(--black-50);
    padding: 12px 18px;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0px;
    }
    .w-70 {
      width: 70%;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
    .w-30 {
      width: 30%;
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }
  &__card-two {
    border-radius: 24px;
    background: var(--white);
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.08);
    padding: 50px;
    @media screen and (max-width: 620px) {
      padding: 26px;
    }
    h4 {
      border-radius: 12px;
      border: 1px solid #f7ecdd;
      background: #fdf6ec;
      padding: 12px 18px;
    }
    form {
      input,
      textarea {
        border-radius: 14px;
        background: var(--black-100);
        padding: 20px 26px;
        border: none;

        ::placeholder {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          color: var(--black-700);
        }
      }
    }
    .attach-icon {
      position: absolute;
      right: 0;
      margin-right: 10px;
    }
  }
}
