:root {
  --primary-900: #012c6d;
  --primary-800: #0f4596;
  --primary-700: #2462bf;
  --primary-600: #4184e8;
  --primary-500: #4184e8;
  --primary-400: #7cb0ff;
  --primary-300: #98c1ff;
  --primary-200: #b5d3ff;
  --primary-100: #d2e4ff;
  --primary-50: #eff5ff;
  --black-900: #111827;
  --black-800: #1f2937;
  --black-700: #374151;
  --black-600: #4b5563;
  --black-500: #6b7280;
  --black-400: #9ca3af;
  --black-300: #d1d5db;
  --black-200: #e5e7eb;
  --black-100: #f3f4f6;
  --black-50: #f9fafb;
  --yellow: #cd831a;
  --white: #fff;
  --red: #dd1d3e;
  --gray-200: #d1d5db;
  --neutral-white: #fcfcfc;
  --md: 60px 0;
  --lg: 90px 0;
  --primary-gradient: linear-gradient(180deg, #2462bf 0%, #337ff1 100%);
}

.text {
  &-primary-900 {
    color: var(--primary-900) !important;
  }
  &-primary-800 {
    color: var(--primary-800) !important;
  }
  &-primary-700 {
    color: var(--primary-700) !important;
  }
  &-primary-100 {
    color: var(--primary-100) !important;
  }
  &-primary-50 {
    color: var(--primary-50) !important;
  }
  &-yellow {
    color: var(--yellow) !important;
  }
  &-white {
    color: var(--white) !important;
  }
  &-black-900 {
    color: var(--black-900) !important;
  }
  &-black-800 {
    color: var(--black-800) !important;
  }
  &-black-700 {
    color: var(--black-700) !important;
  }
  &-black-600 {
    color: var(--black-600) !important;
  }
  &-black-500 {
    color: var(--black-500) !important;
  }
  &-black-400 {
    color: var(--black-400) !important;
  }
  &-black-50 {
    color: var(--black-50) !important;
  }
}

.bg {
  &-primary-50 {
    background-color: var(--primary-50) !important;
  }
  &-primary-100 {
    background-color: var(--primary-100) !important;
  }
  &-primary-200 {
    background-color: var(--primary-200) !important;
  }
  &-primary-600 {
    background-color: var(--primary-600) !important;
  }
  &-primary-700 {
    background-color: var(--primary-700) !important;
  }
  &-primary-800 {
    background-color: var(--primary-800) !important;
  }
  &-primary-900 {
    background-color: var(--primary-900) !important;
  }
  &-red {
    background-color: var(--red) !important;
  }
}
.py {
  &-md {
    padding: var(--md);
    @media screen and (max-width: 768px) {
      padding: 40px 0;
    }
  }
  &-lg {
    padding: var(--lg);
    @media screen and (max-width: 1200px) {
      padding: 60px 0;
    }
    @media screen and (max-width: 768px) {
      padding: 30px 0;
    }
  }
}
