:root {
    --primary-900: #012c6d;
    --primary-800: #0f4596;
    --primary-700: #2462bf;
    --primary-600: #4184e8;
    --primary-500: #4184e8;
    --primary-400: #7cb0ff;
    --primary-300: #98c1ff;
    --primary-200: #b5d3ff;
    --primary-100: #d2e4ff;
    --primary-50: #eff5ff;
    --black-900: #111827;
    --black-800: #1f2937;
    --black-700: #374151;
    --black-600: #4b5563;
    --black-500: #6b7280;
    --black-400: #9ca3af;
    --black-300: #d1d5db;
    --black-200: #e5e7eb;
    --black-100: #f3f4f6;
    --black-50: #f9fafb;
    --yellow: #cd831a;
    --white: #fff;
    --red: #dd1d3e;
    --gray-50: #f3f4f6;
    --gray-25: #f9fafb;
    --gray-200: #d1d5db;
    --gray-500: #d0d5dd;
    --neutral-white: #fcfcfc;
    --md: 60px 0;
    --lg: 90px 0;
    --primary-gradient: linear-gradient(180deg, #2462bf 0%, #337ff1 100%);
    --secondary: #dc143c;
    --gray-1000: #1d2939;
    --main: #344054;
    --gray-10: #fafafa;
}

.text-primary-900 {
    color: var(--primary-900) !important;
}
.text-primary-800 {
    color: var(--primary-800) !important;
}
.text-primary-700 {
    color: var(--primary-700) !important;
}
.text-primary-100 {
    color: var(--primary-100) !important;
}
.text-primary-50 {
    color: var(--primary-50) !important;
}
.text-yellow {
    color: var(--yellow) !important;
}
.text-white {
    color: var(--white) !important;
}
.text-black-900 {
    color: var(--black-900) !important;
}
.text-black-800 {
    color: var(--black-800) !important;
}
.text-black-700 {
    color: var(--black-700) !important;
}
.text-black-600 {
    color: var(--black-600) !important;
}
.text-black-500 {
    color: var(--black-500) !important;
}
.text-black-400 {
    color: var(--black-400) !important;
}
.text-black-50 {
    color: var(--black-50) !important;
}
.text-gray-1000 {
    color: var(--gray-1000) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-main {
    color: var(--main) !important;
}

.bg-primary-50 {
    background-color: var(--primary-50) !important;
}
.bg-primary-100 {
    background-color: var(--primary-100) !important;
}
.bg-primary-200 {
    background-color: var(--primary-200) !important;
}
.bg-primary-600 {
    background-color: var(--primary-600) !important;
}
.bg-primary-700 {
    background-color: var(--primary-700) !important;
}
.bg-primary-800 {
    background-color: var(--primary-800) !important;
}
.bg-primary-900 {
    background-color: var(--primary-900) !important;
}
.bg-red {
    background-color: var(--red) !important;
}
.bg-gray-25 {
    background-color: var(--gray-25);
}
.bg-gray-10 {
    background-color: var(--gray-10) !important;
}
.py-md {
    padding: var(--md);
}
@media screen and (max-width: 768px) {
    .py-md {
        padding: 40px 0;
    }
}
.py-lg {
    padding: var(--lg);
}
@media screen and (max-width: 1200px) {
    .py-lg {
        padding: 60px 0;
    }
}
@media screen and (max-width: 768px) {
    .py-lg {
        padding: 30px 0;
    }
} /*# sourceMappingURL=variables.css.map */
