@font-face {
  src: url(/Frontend/asset/font-family/Mukta/Mukta-ExtraLight.ttf);
  font-family: "Mukta";
  font-weight: 200;
}
@font-face {
  src: url(/Frontend/asset/font-family/Mukta/Mukta-Light.ttf);
  font-family: "Mukta";
  font-weight: 300;
}
@font-face {
  src: url(/Frontend/asset/font-family/Mukta/Mukta-Regular.ttf);
  font-family: "Mukta";
  font-weight: 400;
}
@font-face {
  src: url(/Frontend/asset/font-family/Mukta/Mukta-Medium.ttf);
  font-family: "Mukta";
  font-weight: 500;
}
@font-face {
  src: url(/Frontend/asset/font-family/Mukta/Mukta-SemiBold.ttf);
  font-family: "Mukta";
  font-weight: 600;
}
@font-face {
  src: url(/Frontend/asset/font-family/Mukta/Mukta-Bold.ttf);
  font-family: "Mukta";
  font-weight: 700;
}
@font-face {
  src: url(/Frontend/asset/font-family/Mukta/Mukta-ExtraBold.ttf);
  font-family: "Mukta";
  font-weight: 800;
}
